@media (max-width: 1600px){
	.portfolio__content{
		justify-content: space-around;
	}
	.product__wrapper{
		max-width: 1200px;
		margin: 0 auto;
	}
}
@media (max-width: 1200px){
	.tutorials-content{
		display: block;
	}
	.tutorials-content-item {
		background-color: #fff;
		margin-bottom: 50px;
		text-align: center;
		border-bottom: 2px solid #dcdcdc;
	}
	.upload__form-item .jq-file__browse{
		right: 90%;
	}
	.row{
		display: block;
	}
	.col-3{
		max-width: 870px;
	}
}
@media (max-width: 1100px){
	.author {
		min-height: 400px;
	}
	.author-container{
		max-width: 700px;
		background-color: #f4f6f5;
	}
	.footer__content-inner{
		display: block;
	}
	.footer__content-box,
	.footer__content-list{
		display: none;
		margin-bottom: 50px;
	}
	.footer__content-title{
		display: block;
		position: relative;
		&:before{
			content: "\f107";
			position: absolute;
			font-family: 'icomoon';
			right: 0;
			color: #8bc34a;
		}
		&.active:before{
			transform: rotate(180deg);
		}
	}
	.footer__content-item:nth-child(3){
		width: 270px;
	}
	.upload__form-item .jq-file__browse{
		right: 5%;
	}
	.upload__form-item .jq-file__name{
		padding-left: 5px;
	}
}
@media (min-width: 900px){
	.header__menu-btn{
		display: none;
	}
}
@media (max-width: 900px){
	.slider__inner{
		.item{
			margin: 0 auto 30px;
		}
	}
	.portfolio__content{
		.mix{
			width: 100%;
		}
		.item{
			max-width: 100%;
		}
	}
	.header__menu-btn{
		display: block;
		color: #fff;
    font-size: 40px;
    cursor: pointer;
	}
	.menu{
		ul{
			display: none;
			text-align: center;
		}
		a{
			display: block;
			line-height: 37px;
		}
		li{
			display: block;
			& + li{
				padding-left: 0;
			}
		}
	}
	.advantages-content {
		display: block;
	}
	.advantages-content-item{
		padding-left: 25px;
		padding-right: 25px;
	}
	.col-9 img{
		max-width: 500px;
		border: none;
	}
	.product-details{
		display: block;
	}
	.product-details-main{
		margin-bottom: 15px;
	}
	.product-details .live-preview{
		margin-bottom: 15px;
	}
	.product-details .screenshots{
		margin-bottom: 15px;
	}
	.product-details .documentation{
		margin-bottom: 15px;
	}
}
@media (max-width: 850px) {
	.header-top_content{
		display: block;
		padding-bottom: 20px;
		height: auto;
	}
	.logo{
		padding: 20px 0;
		margin-bottom: 20px;
		text-align: center;
	}
	.header-right{
		justify-content: space-between;
	}
	.cart{
		margin-left: auto;
	}
}
@media (max-width: 760px){
	.search__title{
		line-height: 55px;
	}
	
	.author-container{
		max-width: 440px;
		background-color: #f4f6f5;
	}
	.author-container-inner{
		display: block;
		align-items: center;
	}
	.author-text{
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.become-author{
		transform: translateX(50%);
		margin-right: 0;
	}
}
@media (max-width: 660px){
	.header-right{
		display: block;
		text-align: center;
	}
	.header__content-item{
		margin: 25px auto;
	}
	.cart{
		margin-right: auto;
	}
	.contact-text{
		margin-right: 0;
	}
	.portfolio__btn button{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
	.row .col-lg-9 .sort{
		box-sizing: border-box;
		width: 270px;
		display: block;
	}
	.upload__form-box button{
		margin-left: 40%;
	}
}
@media (max-width: 540px){
	.row{
		display: block;
	}
	.col-9 img{
		max-width: 320px;
	}
}
@media (max-width: 440px){
	.slider{
		.container-fluid{
			padding: 0 15px;
		}
		.item__info,
		.item__user-box{
			padding: 0 5px;
		}
		.item__user img{
			margin-right: 5px;
		}
		.item__user-rating-number{
			padding-left: 3px;
		}
	}
	
	.author-container{
		max-width: 320px;
	}
	.author-container-inner{
		max-width: 320px;
	}
	.become-author{
		transform: translateX(20%);
	}
	.tutorials img{
		width: 100%;
	}
	.upload__form-item{
		display: block;
	}
	.upload__form-item label{
		margin-bottom: 15px;
	}
	.upload__form-box button{
		margin-left: 30%;
	}
}
@media (max-width: 400px){
	.portfolio{
		.container-fluid{
			padding: 0px 15px;
		}
		.item{
			.item__info,
			.item__user-box{
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		.item__user img{
			margin-right: 5px;
		}
	}
}

@media (max-width: 360px){
	.search__title{
		font-size: 44px;
	}
	.search.search__home{
		padding: 75px 0;
	}
	.advantages-item-title{
		line-height: 40px;
	}
}
@media (max-width: 350px){
	.portgolio__link a{
		margin-bottom: 15px;
	}
	.col-9 img{
		max-width: 270px;
	}
}



@media (min-width: 900px){
	.menu{
		ul{
			display: block !important;
		}
	}
}