@import 'vars';

body{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 24px;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
}
a{
	text-decoration: none;
	display: inline-block;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		margin: 0;
		padding: 0;
	}
}
.header-top{
	min-height: 90px;
}
.header-top_content{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.logo{
	transform: translateY(50%);
}
.header-right{
	display: flex;
}
.contact-text{
	color: #546e7a;
	margin-right: 50px;
	line-height: 36px;
	span{
		color: #e74c3c;
	}
	a{
		color: #546e7a;
	}
}
.cart{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	position: relative;
	background-color: #f5f5f5;
	margin-right: 25px;
	&::before{
		content: '\f07a';
		font-family: 'icomoon';
		font-size: 14px;
		color: #a0a0a0;
		position: absolute;
		top: 50%;
		left: 50%;
        transform: translate(-50%, -50%);
	}
	span{
		display: inline-block;
		position: absolute;
		right: -6px;
		top: -6px;
		background-color: #e74c3c;
		border-radius: 50%;
		font-size: 11px;
		color: #fff;
		width: 18px;
		height: 18px;
		text-align: center;
		line-height: 18px;
	}
}
.login-btn{
	background-color: $top;
	color: #fff;
	font-size: 12px;
	min-width: 72px;
	border-radius: 3px;
  	text-align: center;
  	padding: 5px 15px;
	margin-right: 7px;
}
.register-btn{
	background-color: #e74c3c;
	color: #fff;
  	font-size: 12px;
	min-width: 72px;
	border-radius: 3px;
  	text-align: center;
	padding: 5px 15px;
}
.header-bottom{
	background-color: $bg;
	padding: 18px 0;
}
.menu{
	li{
		display: inline-block;
		& + li{
			padding-left: 35px;
		}
	}
	a{
		color: #fff;
		font-size: 14px;
		line-height: 30px;
		font-weight: 500;
	}
}

.search{
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-image: url(../img/search.jpg);
	padding: 55px 0px 65px;
	
	&.search__home{
		background-image: url(../img/welcome.jpg);
		padding: 135px 0px 175px;
	}
}
.search__title{
	font-weight: 700;
	line-height: 30px;
	font-size: 48px;
	color: #fff;
	margin-bottom: 20px;
}
.search__text{
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 40px;
	font-weight: 500;
}
.search__form{
	position: relative;
	max-width: 670px;
	width: 100%;
	margin: 0 auto;
	input{
		max-width: 670px;
		width: 100%;
		display: inline-block;
		height: 60px;
		border: none;
		border-radius: 4px;
		box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
		background-color: #fff;
		font-size: 14px;
		color: #90a4ae;
		font-weight: 500;
		padding-left: 25px;
		padding-right: 50px;
		outline: none;
		&::placeholder{
			font-size: 14px;
			color: #90a4ae;
			font-weight: 500;
		}
	}
	button{
		border: none;
		outline: none;
		background-color: transparent;
		color: #90a4ae;
		position: absolute;
    right: 7px;
    top: 17px;
    font-size: 26px;
	}
}
.portfolio{
	background-color: #f4f6f5;
	padding: 100px 0;
}
.container-fluid{
	padding: 0 30px;
}
.portfolio__title{
	text-align: center;
	color: $bg;
	font-weight: 700;
	line-height: 60px;
	font-size: 36px;
	margin-bottom: 20px;
}

.item{
	max-width: 350px;
	width: 100%;
	border: 1px solid #e7ecf2;
	margin-bottom: 30px;
	position: relative;
	&.sale{
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 30px 30px 30px 30px;  
			border-color: $top transparent transparent $top;  
		}
		&:after{
			content: "\f0e7";
			font-family: 'icomoon';
			color: #fff;
			position: absolute;
			left: 11px;
			top: 8px;
			font-size: 18px;
		}
	}
}
.item__info{
	background-color: #fff;
	border-bottom: 1px solid #e7ecf2;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item__img{
	display: block;
	img{
		display: block;
		max-width: 100%;
		width: 100%;
	}
}
.item__info-box{
	line-height: 30px;
	font-weight: 500;
	max-width: 290px;
	width: 100%;
}
.item__info-name{
	font-size: 18px;
	color: $bg;
	display: block;
}
.item__info-category{
	font-size: 14px;
	color: $top;
	display: block;
}
.item__price{
	font-size: 20px;
	font-weight: 700;
}
.item__user-box{
	background-color: #fff;
	border-bottom: 1px solid #e7ecf2;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item__user{
	font-size: 14px;
	font-weight: 700;
	line-height: 60px;
	color: #546e7a;
	display: flex;
	align-items: center;
	img{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-right: 15px;
	}
}
.item__user-rating{
	display: flex;
	align-items: center;
	li{
		display: inline-block;
		padding-right: 2px;
		span{
			color: #ffa726;
		}
	}
}
.item__user-rating-number{
	color: $bg;
	padding-left: 13px;
}
.portfolio__content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.portfolio__btn{
	margin-bottom: 60px;
	text-align: center;
	button{
		background: #fff;
		border: none;
		outline: none;
		margin-left: 3px;
		margin-right: 3px;
		font-size: 14px;
		color: $bg;
		padding: 10px 20px;
		font-weight: 500;
		cursor: pointer;
		&.mixitup-control-active{
			background-color: #e74c3c;
			color: #fff;
		}
	}
}
.portgolio__link{
	text-align: center;
	padding-top: 40px;
	a{
		color: $bg;
		font-size: 16px;
		background-color: #fff;
		box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
		padding: 20px 30px;
		margin-left: 7px;
		margin-right: 7px;
	}
}


.footer{
	background-color: $bg;
}
.footer__content{
	padding: 100px 0px 90px;
}
.footer__content-inner{
	display: flex;
	justify-content: space-between;
}
.footer__content-item{
	width: 270px;
	&:nth-child(3){
		width: 210px;
	}
}
.footer__content-title{
	color: #fff;
	font-size: 22px;
	font-family: $font;
	font-weight: 700;
	padding-bottom: 22px;
	position: relative;
	margin-bottom: 30px;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 50px;
		background-color: $top;
	}
}
.footer__content-adress,
.footer__content-phone{
	position: relative;
	padding-left: 30px;
	font-size: 14px;
	color: #fff;
	&:before{
		position: absolute;
		left: 0;
		top: 0;
		font-family: 'icomoon';
		color: $top;
		font-size: 18px;
	}
}

.footer__content-adress{
	margin-bottom: 15px;
	&:before{
		content: '\f041';
	}
}
.footer__content-phone{
	&:before{
		content: '\f095';
	}
}
.footer__content-list{
	a{
		line-height: 36px;
		color: $grey;
		padding-left: 22px;
		position: relative;
		&:before{
			content: '\f105';
			font-family: 'icomoon';
			color: $top;
			left: 0;
			position: absolute;
			font-size: 18px;
		}
	}
}
.footer__content-text{
	color: $grey;
	margin-bottom: 35px;
}
.footer__content-social{
	margin-bottom: 40px;
	li{
		display: inline-block;
		& + li{
			padding-left: 7px;
		}
	}
	a{
		width: 28px;
		height: 28px;
		text-align: center;
		line-height: 30px;
	}
	.footer-facebook{
		background-color: #3d5998;
		&::before{
			content: "\f09a";
			font-family: 'icomoon';
			color: #ffffff;
			font-size: 18px;
			text-align: center;
		}
	}
	.footer-twitter{
		background-color: #55acee;
		&::before{
			content: "\f099";
			font-family: 'icomoon';
			color: #ffffff;
			font-size: 18px;
		}
	}
	.footer-youtube{
		background-color: #e52d27;
		&::before{
			content: "\f16a";
			font-family: 'icomoon';
			color: #ffffff;
			font-size: 18px;
		}
	}
	.footer-pinterest{
		background-color: #ffffff;
		&::before{
			content: "\f0d2";
			font-family: 'icomoon';
			color: #bd081c;
			font-size: 18px;
		}
	}
	.footer-linkedin{
		background-color: #1565c0;
		&::before{
			content: "\f0e1";
			font-family: 'icomoon';
			color: #ffffff;
			font-size: 18px;
		}
	}
}
.form__title{
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 36px;
	color: #fff;
}
.footer__form{
	position: relative;
	input{
		display: block;
		background-color: #2f3c43;
		border: none;
		outline: none;
		height: 40px;
		padding-left: 15px;
		color: #697378;
		font-size: 14px;
		padding-right: 50px;
	}
	button{
		width: 43px;
		height: 38px;
		background-color: $top;
		border: none;
		position: absolute;
		right: 0;
		top: 1px;
		&::before{
			content: "\f1d8";
			font-family: 'icomoon';
			color: #ffffff;
			font-size: 18px;
		}
	}
}
.footer__copy{
	border-top: 1px solid #424d53;
	padding: 20px 0px;
	color: $grey;
	text-align: center;
	line-height: 36px;
}
#modal{
	display: none;
}
.login-wrapper{
	width: 200px;
	height: 200px;
	background-color: $top;
}