body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px; }

a {
  text-decoration: none;
  display: inline-block; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li {
    margin: 0;
    padding: 0; }

.header-top {
  min-height: 90px; }

.header-top_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.logo {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contact-text {
  color: #546e7a;
  margin-right: 50px;
  line-height: 36px; }
  .contact-text span {
    color: #e74c3c; }
  .contact-text a {
    color: #546e7a; }

.cart {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: relative;
  background-color: #f5f5f5;
  margin-right: 25px; }
  .cart::before {
    content: '\f07a';
    font-family: 'icomoon';
    font-size: 14px;
    color: #a0a0a0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .cart span {
    display: inline-block;
    position: absolute;
    right: -6px;
    top: -6px;
    background-color: #e74c3c;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px; }

.login-btn {
  background-color: #8bc34a;
  color: #fff;
  font-size: 12px;
  min-width: 72px;
  border-radius: 3px;
  text-align: center;
  padding: 5px 15px;
  margin-right: 7px; }

.register-btn {
  background-color: #e74c3c;
  color: #fff;
  font-size: 12px;
  min-width: 72px;
  border-radius: 3px;
  text-align: center;
  padding: 5px 15px; }

.header-bottom {
  background-color: #263238;
  padding: 18px 0; }

.menu li {
  display: inline-block; }
  .menu li + li {
    padding-left: 35px; }

.menu a {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500; }

.footer {
  background-color: #263238; }

.footer__content {
  padding: 100px 0px 90px; }

.footer__content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__content-item {
  width: 270px; }
  .footer__content-item:nth-child(3) {
    width: 210px; }

.footer__content-title {
  color: #fff;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 30px; }
  .footer__content-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 50px;
    background-color: #8bc34a; }

.footer__content-adress,
.footer__content-phone {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  color: #fff; }
  .footer__content-adress:before,
  .footer__content-phone:before {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'icomoon';
    color: #8bc34a;
    font-size: 18px; }

.footer__content-adress {
  margin-bottom: 15px; }
  .footer__content-adress:before {
    content: '\f041'; }

.footer__content-phone:before {
  content: '\f095'; }

.footer__content-list a {
  line-height: 36px;
  color: #b7c3c8;
  padding-left: 22px;
  position: relative; }
  .footer__content-list a:before {
    content: '\f105';
    font-family: 'icomoon';
    color: #8bc34a;
    left: 0;
    position: absolute;
    font-size: 18px; }

.footer__content-text {
  color: #b7c3c8;
  margin-bottom: 35px; }

.footer__content-social {
  margin-bottom: 40px; }
  .footer__content-social li {
    display: inline-block; }
    .footer__content-social li + li {
      padding-left: 7px; }
  .footer__content-social a {
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 30px; }
  .footer__content-social .footer-facebook {
    background-color: #3d5998; }
    .footer__content-social .footer-facebook::before {
      content: "\f09a";
      font-family: 'icomoon';
      color: #ffffff;
      font-size: 18px;
      text-align: center; }
  .footer__content-social .footer-twitter {
    background-color: #55acee; }
    .footer__content-social .footer-twitter::before {
      content: "\f099";
      font-family: 'icomoon';
      color: #ffffff;
      font-size: 18px; }
  .footer__content-social .footer-youtube {
    background-color: #e52d27; }
    .footer__content-social .footer-youtube::before {
      content: "\f16a";
      font-family: 'icomoon';
      color: #ffffff;
      font-size: 18px; }
  .footer__content-social .footer-pinterest {
    background-color: #ffffff; }
    .footer__content-social .footer-pinterest::before {
      content: "\f0d2";
      font-family: 'icomoon';
      color: #bd081c;
      font-size: 18px; }
  .footer__content-social .footer-linkedin {
    background-color: #1565c0; }
    .footer__content-social .footer-linkedin::before {
      content: "\f0e1";
      font-family: 'icomoon';
      color: #ffffff;
      font-size: 18px; }

.form__title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 36px;
  color: #fff; }

.footer__form {
  position: relative; }
  .footer__form input {
    display: block;
    background-color: #2f3c43;
    border: none;
    outline: none;
    height: 40px;
    padding-left: 15px;
    color: #697378;
    font-size: 14px;
    padding-right: 50px; }
  .footer__form button {
    width: 43px;
    height: 38px;
    background-color: #8bc34a;
    border: none;
    position: absolute;
    right: 0;
    top: 1px; }
    .footer__form button::before {
      content: "\f1d8";
      font-family: 'icomoon';
      color: #ffffff;
      font-size: 18px; }

.footer__copy {
  border-top: 1px solid #424d53;
  padding: 20px 0px;
  color: #b7c3c8;
  text-align: center;
  line-height: 36px; }

.login-wrapper {
  width: 200px;
  height: 200px;
  background-color: #8bc34a; }
